<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

  <!-- This one does nothing with a value of Always On, but using a value of "daemon" keeps the plugin alive in the background -->	
  <key>PlexPluginMode</key>
  <string>Agent</string>

  <!-- List any client platforms supported in the plugin. -->	
  <!-- Possible values are * for all platforms, MacOSX, Windows, Linux, Roku, Android, iOS, Safari, Firefox, Chrome, LGTV, Samsung, PlexConnect and Plex Home Theater -->
  <key>PlexClientPlatforms</key>
  <string>*</string>
  
  <!-- List any client platforms not supported in the plugin. -->	
  <key>PlexClientPlatformExclusions</key>
  <string></string>
   
  <!-- possible string values are the proper ISO two letter code for the country -->
  <!-- A full list of values are available at http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2 -->              
  <key>PlexPluginRegions</key>
  <array><string></string></array>
	
	<!-- DEBUG OPTIONAL KEYS -->
  <!-- possible values are 0 and 1. Setting it to "1" rather than "0" turns on debug logging -->
  <key>PlexPluginDebug</key>
  <array><string>0</string></array>       
  
  <!-- THESE BELOW ARE FOR AGENTS ONLY -->    
  
  <!-- this allows channels to access some python methods which are otherwise blocked, as well as import external code libraries, and interact with the PMS HTTP API -->	
  <key>PlexPluginCodePolicy</key>
  <string>Elevated</string>
  
  <!-- This key is used to show that the plugin is an agent. possible values are agent -->	
  <key>PlexPluginClass</key>
  <string>agent</string>

  <!-- This is used to send plugin log statements directly to stout when running PMS from the command line. Rarely used anymore-->
  <key>CFBundleIdentifier</key>
  <string>com.plexapp.agents.douban</string>
	
  <key>PlexFrameworkVersion</key>
  <string>2</string>

  <key>PlexAgentAttributionText</key>
  <string>Ratings, genres and posters from &lt;a href="http://www.douban.com"&gt;豆瓣Douban&lt;/a&gt;</string>
  <string>评分、电影类型、海报等信息来源于 &lt;a href="http://www.douban.com"&gt;豆瓣Douban&lt;/a&gt;，

更多PLEX中文插件、使用教程，请访问&lt;a href="http://www.plexmedia.cn"&gt;PLEX中文网&lt;/a&gt;</string>
</dict>
</plist>
